.counter-container {
  text-align: center;

  .title-app {
    color: blue;
    font-weight: bold;
  }

  .actions-container {
    margin-top: 30px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .number-container {
      width: 200px;
    }

    .result-counter {
      font-size: 50px;
      margin-bottom: 40px;
      margin-top: 40px;
    }

    .btn-reset {
      width: 100px;
      height: 50px;
      border-radius: 30px;
      background-color: purple;
      border: 2px solid black;
    }
  }
}