.counter-container {
  text-align: center;

  .title-app {}

  .actions-container {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}