.todos-container {
  margin-top: 20px;

  .todo-table {
    .success-icon {
      color: green;
    }

    .denied-icon {
      color: red;
    }

    .btn-actions-container {
      display: flex;
      justify-content: space-around;

      .btn-edit-todo {
        background-color: green;
        color: white;
        margin-left: 10px;
      }
    }
  }


  .no-data-title {
    margin-top: 20px;
    text-align: center;
  }
}